html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
.label-design label{ font-size: 14px; color: #000; letter-spacing: 1px; }
.input-design input{ border: 1px solid lightgrey; border-radius: 5px; padding: 5px;  font-size: 13px; width: 100%; }
.select-design select{ border: 1px solid lightgrey; border-radius: 5px; padding: 5px;  font-size: 15px; width: 100%; }

.main{ 
    background-color: #fff; 
    border: 1px solid #EFEFEF !important; 
    box-shadow: 2px 2px 10px #e5e5e5;
    border-radius: 20px;
}
.title-list{ 
    border-bottom: 2px solid #EDEDED !important; 
}
.table .thead-app th {
    color: #fff;
    background-color: #007bff!important;
    border-right: 1px solid #fff;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff!important;
    border-color: #007bff!important;
}
.text-icon a{
    color: #e5e5e5;
    padding: 6px;
}
.text-icon a:hover{
    color: white;
}
.btn-app{
    background-color: #131921 !important;
    border: 1px solid #131921 !important;
    color: #fff !important;
}
.btn-app:hover{
    outline:0;
    -webkit-box-shadow:0 0 0 2px #fff,0 0 0 4px rgba(19, 25, 33, .4) !important;
    box-shadow:0 0 0 2px #fff,0 0 0 4px rgba(19, 25, 33, .4) !important;
}
.btn-cancel{
    background-color: #fff !important;
    border: 1px solid #7A7A7A !important;
}
.btn-cancel:hover{
    background-color: #8C8C8C !important;
    border-radius: 20px !important;
    transition: all 0.3s !important;
}
/************************* LOGIN *****************************/
#logo_login img{ 
    width: 150px; 
    height: auto; 
    margin: 0 auto; 
}
#login{ 
    display: flex !important; 
}
#login_movil{ 
    display: hidden !important; 
}
/************************* HEADER *****************************/
#header{
    width: 100%;
    height: 55px;
    background-color: #fff; 
}
.icon-copy{
    margin: 0 0 0 auto !important;
    background: linear-gradient(to right, #0017FF, #00B2FF);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 3px;
}
.icon-compressor{
    background: linear-gradient(to right, #FF8700, #FFE000);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 6px;
    margin-top: 3px;
}
.icon-upload{
    background: linear-gradient(to right, #2C9529, #0BFA04);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 2px;
    margin-top: 3px;
}
.icon-logout{
    background: linear-gradient(to right, #D21E1E, #FA8829);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 4px;
    margin-top: 3px;
}
/************************* MENU *****************************/
.cerrar{ 
    margin-left: -140px !important;
    transition-duration: 4s;
    transition-delay: 2s;
}         
.move{
    text-align: left !important;
}
#menu {
    width: 200px;
    height: 100%;
    background: #fff;
    transition: all 0.3s;
    border-radius: 0;
}
#menu .list-group {
    width: 200px;
}
#menu .list-group-item {
    background: #fff;
    color: #007bff;
    text-decoration:none;
    border: 0 !important;
    font-size: 15px;
}
#menu .list-group-item:hover {
    background-color: #007bff!important;
    color: #fff!important;
}

/* highlight active menu */
#menu .list-group-item:not(.collapsed) {
    background-color: #BE3C70;
}
/* highlight active menu */
#menu .list-group-item:not(.collapsed):hover {
    background-color: rgba(255,255,255,0.8);
    color: #952F57;
}
/* open state */
#menu .list-group .list-group-item[aria-expanded="true"] {
    background-color: #952F57;
    color: #fff;
}
/* level 1*/
#menu .list-group .collapse .list-group-item,
#menu .list-group .collapsing .list-group-item  {
    padding-left: 20px;
}
/************************* CONTENT *****************************/
#contenido{
    transition: all 0.3s;
    background: #fff;
    z-index: 10;
}
.dataTables_filter{
    float: right;
}
.pagination{
    float: right;
}
#content_images{
    min-height: 100px;
    border: 1px solid #EDEDED; 
    border-radius: 20px;
    max-width: 100%;
}
#content_upload{
    min-height: 100px;
    border: 1px solid #EDEDED; 
    border-radius: 20px;
    max-width: 100%;
}
.img-preview{
    width: 10%;
    height: 150px;
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s, -o-transform 1s;
    padding: 20px;
}
.img-preview img {
    transition: all 0.2s linear;
    width: 100%;
    height: 110px;
}
.img-preview .mascara {
    opacity: 0;
    background-color: rgba(255,255,255, 0.2);
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 110px;
    justify-content: center;
}
.img-preview:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(1.2);
    -moz-transform : scale(1.2);      /* Firefox */
    -webkit-transform : scale(1.2);   /* Chrome - Safari */
    -o-transform : scale(1.2);        /* Opera */
}
.img-preview:hover .mascara {
    opacity: 1;
    transform: translateY(-110px);
}
.img-upload img{
    width: 100%;
    height: 70px;
}
.filter{
    filter: opacity(0);
    transition: filter 5s, transform 5s;
    -moz-transition: filter 5s, -moz-transform 5s;
    -webkit-transition: filter 5s, -webkit-transform 5s;
    -o-transition: filter 5s, -o-transform 5s;
}